* {margin: 0; padding: 0}

.one {
    width: 30%;
    background-color: red;
    border-radius: 10%;
    margin: 1%;
    border:1px solid transparent;
    padding-bottom:30%;
    float: left;
}

.outer {
    width: 100%;
    padding-left: 1%;
    padding-top: 1%;
    border: 1px solid transparent;
}
