* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9rem;
    color: white;
}

.outer {
    /*padding-bottom: 50%;*/
    background-color: rgb(104, 205, 213);
    /*padding-top: 100px;*/
    overflow: hidden;
    height: 100vh;
}

img.turn {
    margin-left: 10px;
    margin-top: 10px;
}


.top {

    text-align: center;
    margin-top: 30px;
}

.picture {

    width: 100%;
    margin-top: 30vh;
    float: left;

}

p {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 30px;
}


figcaption {
    margin-top: 10px;
}

figure {
    max-width: min-content;
    margin-left: 15%;
    display: inline-block;
    text-align: center;

}

figure.right {
    max-width: min-content;
    margin-right: 15%;
    text-align: center;
    float: right;
}

