@media only screen and (max-width: 860px) {
    header .header-top {
        display: none;
    }




    ul.header-nav-list li {
        display: block !important;
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    ul.header-nav-list li:hover {
        background-color:#999;
        border-bottom: transparent;
    }
    /*img.jnshu {*/
    /*    margin-right: 249px ;*/
    /*}*/

    .grid-my{

        grid-template:
                "a     b" 1fr
                "c     c" 1fr
        /1fr  1fr;
    }

    ul.header-nav-list {
        display: none;
        flex-direction: column;
        grid-area: c;
        width: 100%;

    }
    button.my-button {
        display: block !important;

    }

    .container-bottom{
        display: none;
    }

    /*.job-img {*/
    /*    display: none;*/
    /*}*/
    .img-wrap {
        display: none !important;
    }


    .job-lead-menu {
        height: auto!important;
    }
    /*div.job-menu  ul.job-lead-menu li {*/
    /*    display: block ;*/
    /*}*/
    /*.job-lead-menu {*/
    /*    flex-direction: column;*/
    /*}*/
}





*{
    margin: 0;
    padding: 0;
}

body ,html {
    background-color: #fafafa;
}
/* ++++++++++++++++++++++++++++++++++++++++++(公用头部-----START)+++++++++++++++++++++++++++++++++++++++++++++++++++*/



button.my-button {
   display: none;
    border: 0;
    padding: 1px 1px 2px 1px;
    border-radius: 10%;
    outline: none;
    margin: 50px 0;

}

.my-button:focus {
    outline: 0 none ;
}


/*公用部分--头部图标&客服电话*/
.img-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}



.header-nav-wrap {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #29b078;
}
.service-tel{
    font-size: 14px;
    color: #29b078;
    margin-left: 59px;
}
.header-icon {
    display: inline-block;
    padding-top: 5px;
    float: right;
    margin-right: -233px;

}

strong.num {
    font-weight: 400;
}

.count-people {
    font-weight: 400;
    color: #999;
}

.header-icon span {
    display: inline-block;
    background: url("../img/home_sprites.png") no-repeat;
    background-size: 188px 176px;

}
.header-nav-wrap .job-img{
}

.header-icon span.icon-chat {
    background-position: -153px -10px;
    width: 25px;
    height: 24px;
}

.header-icon span.icon-qq {
    background-position: -153px -98px;
    width: 25px;
    height: 24px;
}
.header-icon span.icon-wei-bo {
    margin: 0 16px;
    background-position: -153px -54px;
    width: 25px;
    height: 24px;
}
span.web-link {
    padding-bottom: 6px;
}
span.web-link:hover {
    border-bottom: 1px solid #fff ;
}


/*公用部分--导航栏*/

.header-nav-list{
    display: inline-block;
    margin-bottom: 0;

}
.header-nav-list li a{
    text-decoration: none;
}
.header-nav-list li a:link {
    color: #ffffff;
}
.header-nav-list li a:hover{
    color: #ffffff;

}
.header-nav-list li a:visited{
    color: #ffffff;

}

.header-nav-list li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 99px;
    height: 99px;
    font-size: 16px;
    color: white;
}
.header-nav-list li:hover{
    border-bottom: 2px solid white;
}

/* ++++++++++++++++++++++++++++++++++++++++++(公用头部-----END)+++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++(公用底部-----START)+++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    padding: 30px 0 18px 0;
    /*height: 202px;*/
    background-color: #26a26f;
}
div.footer-bottom{
    text-align: center;
    line-height: 30px;
    background-color: #26a26f;
    border-top: 1px solid #32c086;
    font-size: 12px;
    color: #ffffff;
}
footer div.container{
    /*height: 171px;*/
}

/*footer div.footer-bottom{*/
/*    border-top: 1px solid #32c086;*/
/*}*/

p.lead{
    font-size: 16px;
    color: #ffffff;
}
p.links-footer{
    font-size: 14px;
    color: #ffffff;
}
div.col-sm-5.col-xs-12{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.col-sm-2.col-xs-12{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-ha{
    width: 38px;
}
div.btn-outer {
    display: inline-block;
    padding: 9px;
    background-color: green;
    border-radius: 5px;
}

div.btn-hidden {
    width: 30px;
    height: 5px;
    border-top: 5px solid #999;
    border-bottom: 5px solid #999;
    padding: 5px 0;
    background-clip: content-box;
    background-color: #999;
    box-sizing: content-box;
}
/*+++++++++++++++++++++++++++++++++++++++++++(公用底部-----END)+++++++++++++++++++++++++++++++++++++++++++++++++++*/