
* {
    padding: 0;
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 768px){
    html {
        font-size: 48px !important;
    }
}

@media only screen and (min-width: 1024px){
    html {
        font-size: 64px !important;
    }
}
@media only screen and (min-width: 1440px){
    html {
        font-size: 90px !important;
    }
}


body{
    background-color: rgb(240,240,240);

}

header {
    height:8vh;
    background-color: rgb(41,189,224);
    position: relative ;
}

.icon1 {
    width: 34px;
    height: 4px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 4px solid white;
    border-bottom:  4px solid white;
    background-clip: content-box;
    box-sizing: content-box;
    position: absolute;
    bottom:21px;
    left: 22px;

}


.last_game{
    font-size: 0.85rem;
    width: 90vw;
    height: 10vh;
    color: rgb(180,180,180);
    border: 1px solid rgb(232,232,232);
    margin: 2.46vh  auto 0 auto;
    background-color: white;
    line-height: 10vh;
    text-align: center;
    position: relative;

}

.content{
    width: 90vw;
    height: 75%;
    margin: 2.46vh auto 0 auto;
    border: 1px solid rgb(233,233,233);
    background-color: white;

}

div.game_name{
    font-size: 0.95rem;
    width: 100%;
    height: 8.2vh;
    border-bottom: 2px solid rgb(254,232,192);
    color: rgb(254,220,163);
    text-align:center;
    line-height: 8.2vh;
}
div.version{
    height: 23%;
    width: 72vw;
    margin: 3.7% auto;
    text-align: center;
    position: relative;
    padding: 0 auto;
}

div.version_title{
    font-size: 0.8rem;
    color: white;
    width: 100%;
    height: 72.3%;
    background-color: rgb(105,209,233);
    position: relative;

}

p.text{
    width: 100%;
     color: rgb(170,170,170);
    font-size: 0.625rem;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0);
    /*padding: 0;*/
    /*left: 50%;*/
}

p.title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.triangle{
    display: inline-block;

    width: 0.75rem;
    height: 0.75rem;
    border-top: 0.125rem solid rgb(231,231,231);
    border-right: 0.125rem solid rgb(231,231,231);
    transform: rotate(45deg);
     position: absolute;
    right: 10%;
    top: 40%;
    /*transform: translate(0,-50%);*/
}

img {
    position: absolute;
    top: 55%;
    right: 8%;
    width: 0.8rem;
}
div.circle {
     display: inline-block;
    width:0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: rgb(240,240,240);
    margin-left: 0.20rem;

}
div.circles{
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    height: 0.5rem;
    width: 3.75rem;
    transform: translate(-50%,0);

}
div.circle:hover{
    background-color: rgb(105,209,233);
}