* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 20px;
}

html body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

header {
    background-color: #29bde0;
    /*padding: 40px 0 21px 22px;*/
    padding: 1rem 0 0.525rem 0.55rem;

}

div.menu {
    /*width: 34px;*/
    width: 34px;

    /*height: 27px;*/
    background-color: white;



    height: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 4px solid white;
    border-bottom:  4px solid white;
    background-clip: content-box;
    box-sizing: content-box;
    bottom:21px;
    left: 22px;
}

div.container {
    /*margin-top: 26px;*/
    margin-top: 0.65rem;
    margin-bottom: 1.55rem;
    width: 80%;
    height: 20%;
    /*margin-bottom: 62px;*/
}
div.container .row{
    background-color: white;
}
div.last-game {
    position: relative;
    align-items: center;
    justify-content: center;
    /*line-height: 116px;*/
    line-height: 2.9rem;
    height: 2.9rem;

    /*height: 116px;*/
    border: 1px solid #c9c9c9;
    /*font-size: 34.84px;*/
    font-size: 0.871rem;

    color: #9a9a9a;
}

div.blank-space {
    background-color: #f0f0f0 !important;
    height: 0.625rem;
}
div.game-name {
    line-height: 2rem;
    justify-content: center;
    height: 2rem;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 2px solid #fdd793;
    color: #fcbe5c;
    font-size: 0.943rem;
}

div.version-title-row {
    justify-content: center;
    position: relative;
}

div.version-title {
    line-height: 3.35rem;
    /*line-height: 134px;*/

    text-align: center;
    /*margin-top: 29px;*/
    margin-top: 0.725rem;

    margin-left: 25px;
    margin-right: 25px;
    /*width: 462px;*/
    width: 11.55rem;

    /*height: 134px;*/
    height: 3.35rem;

    background-color: #69d1e9;
    /*font-size: 32.08px;*/
    font-size: 0.825rem;

    color: #ffffff;
}

div.how-many-user {
    /*font-size: 24.53px;*/
    font-size: 0.613rem;

    color: #787878;
    /*padding: 26px 0 27px 0;*/
    padding: 0.65rem 0 0.675rem 0;

}
div.how-many-user p {
    margin: 0 auto;
}
div.outer {
    height: 10%;
}

div.icon-turn {
    position: absolute;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-top: 0.125rem solid rgb(231,231,231);
    border-right: 0.125rem solid rgb(231,231,231);
    right:10px;
    transform: translate(0, -50%) rotate(45deg);
}

img {
    top :55%;
    position: absolute;
    right: 5px;
    width: 0.7rem;
    transform: translate(0,-50%);
}

div.circle {
    display: inline-block;
    width:0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: rgb(240,240,240);
    margin-left: 0.20rem;

}
div.circle:hover {
    background-color: #69d1e9;
}
div.circles{
    display: block;
    height: 0.5rem;
    width: 3.75rem;

}

div.how-many-user1 {
    /*font-size: 24.53px;*/
    flex-direction: column;
    font-size: 0.613rem;
    align-items: center;
    color: #787878;
    /*padding: 26px 0 27px 0;*/
    padding: 0.65rem 0 0.675rem 0;

}