@media (min-width: 576px) {
    .container {
        max-width: 3000px !important;
    }
}

    @media (max-width: 576px) {

        :root {
            font-size: 8px !important;
        }
    }



* {
    padding: 0;
    margin: 0;
}



html body {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

header {
    background-color: #29bde0;
    /*padding: 40px 0 21px 22px;*/
    padding-top: 2.5vh;
    padding-left: 1vh;
    height: 7vh;

}

div.menu {
    /*width: 34px;*/
    width: 34px;

    /*height: 27px;*/
    background-color: white;


    height: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    background-clip: content-box;
    box-sizing: content-box;
    bottom: 21px;
    left: 22px;
}

div.container {
    margin-top: 0.65rem;
    width: 89vw;
}

div.container .row {
    background-color: white;
}

div.last-game {
    position: relative;
    align-items: center;
    justify-content: center;
    /*line-height: 116px;*/
    line-height: 2.9rem;
    height: 10.5vh;

    /*height: 116px;*/
    border: 1px solid #c9c9c9;
    /*font-size: 34.84px;*/
    font-size: 2.1875rem;

    color: #9a9a9a;
}

div.blank-space {
    background-color: #f0f0f0 !important;
    height: 2vh;
}

div.blank-space1 {
    height: 4vh;
}

div.game-name {
    line-height: 8.2vh;
    justify-content: center;
    height: 8.2vh;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 2px solid #fdd793;
    color: #fcbe5c;
    font-size: 2.375rem;
}

div.version-title-row {
    justify-content: center;
    position: relative;
    height: 19vh;
}

div.version-title {
    text-align: center;
    width: 72vw;
    height: 12vh;
    background-color: #69d1e9;
    font-size: 2rem;
    color: #ffffff;
    line-height: 12vh;

}

div.how-many-user {

    padding: 0.65rem 0 0.675rem 0;
}

div.version-title-row p {
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    color: #787878;
}

div.outer {
}

div.icon-turn {
    position: absolute;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-top: 0.125rem solid rgb(231, 231, 231);
    border-right: 0.125rem solid rgb(231, 231, 231);
    right: 10px;
    transform: translate(0, -50%) rotate(45deg);
}

img {
    position: absolute;
    transform: translate(0, -50%);
    top: 6vh;
    right: 2.5vw;
    width: 2.5vw;
}

div.circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: rgb(240, 240, 240);
    margin-left: 0.20rem;

}

div.circle:hover {
    background-color: #69d1e9;
}

div.circles {
    display: block;
    height: 0.5rem;
    width: 6rem;
    margin: 0 auto;
}



div.how-many-user1 {
    /*font-size: 24.53px;*/
    flex-direction: column;
    font-size: 0.613rem;
    align-items: center;
    color: #787878;
    /*padding: 26px 0 27px 0;*/
    padding: 0.65rem 0 0.675rem 0;

}

div.circle-row {
    height: 7vh;
}