/*@media screen and (max-width: 1400px) {*/
/*    body{*/
/*        width: 1400px;*/
/*    }*/
/*}*/
* {
    padding: 0;
    margin: 0;
}


/*:root {*/
/*font-size: 30px;*/
/*}*/

/*html {*/
/*    font-size : 20px;*/
/*}*/
/*@media only screen and (min-width: 401px){*/
/*    html {*/
/*        font-size: 25px !important;*/
/*    }*/
/*}*/
@media only screen and (max-width: 428px){




    :root {
        font-size: 0.6rem;
    }

    header {
        height: 22vh !important;
    }
    .container-outer {
        padding-top: 23vh !important;
    }


}
/*@media only screen and (min-width: 481px){*/
/*    html {*/
/*        font-size: 30px !important;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 569px){*/
/*    html {*/
/*        font-size: 30px !important;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 641px){*/
/*    html {*/
/*        font-size: 30px  !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 768px){*/
/*    html {*/
/*        font-size: 30px  !important;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1024px){*/
/*    html {*/
/*        font-size: 30px !important;*/
/*    }*/
/*}*/
/*!*@media only screen and (min-width: 1440px){*!*/
/*!*    html {*!*/
/*!*        font-size: 90px !important;*!*/
/*!*    }*!*/
/*!*}*!*/


html body {
    background-color: rgb(41, 189, 224);
    line-height: 1;

}

header {
    /*height: 90px;*/
    position: fixed;
    height: 34vh;
    width: 100%;
    background-color: rgb(41, 189, 224);
    z-index: 1;
}

div.outer {
    /*margin-top: 3%;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3.4%;
    padding-right: 3.4%;
    margin-top: 1.875rem;
    margin-bottom:0.937rem;
}


div.three {
    width: 1.8125rem;
    height: 0.1875rem;
    border-top: 0.1875rem solid white;
    border-bottom: 0.1875rem solid white;
    padding-top: 0.5rem;
    background: white;
    padding-bottom: 0.5rem;
    background-clip: content-box;
    box-sizing: content-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div.one {
    width: 2.1875rem;
    height: 2.25rem;
    border:0.125rem solid white;
    position: relative;
    left: 0.575rem;
    box-sizing: content-box;
}


header span {
    /*margin-right: 10px;*/
    display: inline-block;
    font-size: 2.125rem;
    color: white;
}

.x div {
    box-sizing: border-box;
}

.x {
    /*margin: 100px auto;*/
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(45deg);
    position: relative;
    right: 0.125rem;

}

.x1 {
    float: left;
    width: 50%;
    height: 50%;
    border-bottom: 0.125rem solid white;
    border-right: 0.125rem solid white;
}

.x2 {
    float: left;
    width: 50%;
    height: 50%;
    border-bottom: 0.125rem solid white;
    border-left: 0.125rem solid white;
}

.x3 {
    float: left;
    width: 50%;
    height: 50%;
    border-top: 0.125rem solid white;
    border-right: 0.125rem solid white;
}

.x4 {
    float: left;
    width: 50%;
    height: 50%;
    border-top: 0.125rem solid white;
    border-left: 0.125rem solid white;
}

.voice {

    width: 100%;
    /*height: 82px*/
    /*height: 8vh;*/

    background-color: rgb(185, 233, 245);

}

.voice-outer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 7.2%;
    padding-right: 2.7%;
}

div.voice .voice-outer > span {
    font-size: 1.625rem;

}

.controls {
    width: 3.25rem;
    height: 3.25rem;
    padding: 0;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    /*margin-right: 0.5rem;*/
}

.play-pause {
    border: 0;
    outline: 0;
    background: none;
    vertical-align: middle;

}

.icon-play {
    width: 3.25rem;
    height:3.25rem;
    background: url(../img/play.png) no-repeat;
    background-size: 3.25rem;
    display: block;
    color: #478f59;
}

.icon-pause {
    width: 46px;
    height: 46px;
    background: url(../img/pruse.png) no-repeat;
    background-size: 1rem;
    display: block;
    color: #478f59;
}


footer {
    width: 100%;
    height: 17vh;
    background-color: rgb(41, 189, 224);
    position: fixed;
    bottom: 0;
}

.death {
    display: block;
    height: 5.5rem;
    width: 76%;
    background-color: rgb(251, 180, 53);
    /*margin: 0 auto;*/
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    border: 0;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.death :hover {
    outline: none;
}

.container-outer {
    height: 62vh;
    padding-top: 35vh;
}

span.text {
    display: block;
    font-size: 1.5rem;
    color: white;
    text-align: left;
    margin: 0.75rem 10%;
    padding: 0;
}

.container {
    padding: 0;
    max-width: none !important;
    background-color: rgb(41, 189, 224);
    margin-bottom: 20vh;
}

.col {
    height: 13.125rem;
}

div.clear-float:after {

    display: block;
    clear: both;
    content: "";
}
.user {
    width: 8.5rem;
    height: 8.5rem;
    /*padding-top: 100%;*/
    background-color: rgb(245, 201, 123);
    border: 5px solid white;
    position: absolute;
    top :.6875rem;
    left: 50%;
    transform: translate(-50%,0);
}

.user span {
    font-size: 1.875rem;
    display: block;
    height: 100%;

    text-align: center;
    line-height: 6.625rem;


}

.user-bottom {
    font-size: 1.375rem;
    height: 1.6875rem;
    width: 100%;
    background-color: rgb(131, 176, 154);
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
}

img {
    margin-left: 10%;
}


.user-outer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;


}

.user:hover ~ .icon {
    display: flex;
}

.icon {
    height: 1.875rem;
    width: 8.4375rem;
    display: none;
    position: absolute;
    bottom: 0.6875rem;
    left: 50%;
    transform: translate(-50%,0);
}

.icon span {

    display: inline-block;
    margin-right:  0.15625rem;
    margin-left:  0.15625rem;
    background: url("../img/css7_sprites.png") no-repeat;
    background-size: 6.25rem 6.25rem;
}

span.icon1-vote {
    background-position: -0.625rem -0.625rem;
    width: 1.875rem;
    height: 1.875rem;

}

span.icon2-vote {
    background-position: -3.75rem -0.625rem;
    width: 1.875rem;
    height: 1.875rem;

}

span.icon3-vote {
    background-position: -0.625rem -3.75rem;
    width: 1.875rem;
    height: 1.875rem;
}

span.icon4-vote {
    background-position: -3.75rem -3.75rem;
    width: 1.875rem;
    height: 1.875rem;
}

.min-icon {
    display: flex;
    justify-content: flex-start;
}

